* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #d39ef2;
    background-image: url(../img/food.png)
}

h1 {
    color: linen;
    text-align: center;
    font-family: Impact;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

img{
    height: 12rem;
    width: 12rem;
}


.img-container {
    display: flex;
    flex-wrap: wrap;
}



.img-table{
    /* height: 100%; */
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
   
}

.grid-item{
    border: 1px solid rgb(63, 17, 63);
    object-fit: cover;
}
